h1,
h2{
    font-family: 'Bebas Neue', cursive;
}

h1{
   text-align: center; 
   font-size: 54px;
}


h2{
    background-color: #BAD1CD;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    
}

h3{
    margin: 5px 0;
    
}

h4{
    margin: 2px 0 2px 10px;
    color: gray;
    padding-bottom: 0;
}

header{
    background-color: #BAD1CD;
    overflow: auto;
    padding: 15px 30px;
    margin: 0;
    
}


header section{
    padding-right: 5%;
    padding-left: 5%;
}

header h2{
    padding: 0;

}

body{
    font-family: 'DM Sans', sans-serif;
    color: #071108; 
    line-height: 1.5;
    margin: 0;
}

body p{
    margin-top: 5px;
    margin-bottom: 7px;
}

body ul{
    margin-top: 5px;
    margin-bottom: 7px;
}

header img{
    width: 20%;

    border: 7px solid white;
    float: left;  
    margin-bottom: 2%;
    margin-left: 20%;    

}



section{
    padding: 40px 20%;
    overflow: auto;
    
    }

.ramecek{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
    padding: 15px;
    border-radius: 20px;
   
}

footer{
    background-color: #282425;
    color: white;
    text-align: center;
    padding: 10px 0;
}

a{
    color: #071108;
}

a:hover,
a:visited,
a:focus,
a:active{
    color: #071108;
}

